.container {
    margin: 30px auto;
}

.small{
    display: flex;
    justify-content: space-around;
}

.big{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
img{
    display: inline-block;
}